---
---

<header class="mb-8">
  <nav class="text-base text-gray-600 flex items-baseline gap-x-4">
    <a href="https://fromcommunity.com">
      <img
        src="/changelog/logo.svg"
        alt="From Community"
        class="h-10 inline-block align-middle"
      />
    </a>
    <a class="p-2" href="/changelog/">Changelog</a>
    <a class="p-2" href="https://twitter.com/fromcommunityhq" target="_blank">
      Twitter
    </a>
  </nav>
</header>
